* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.title {
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: center;
  background-color: #fff;
  display: flex;
  z-index: 1;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  justify-content: space-between;
  .bg {
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    h3 {
      cursor: pointer;
      font-size: 30px;
      color: #448899;
    }
    .navbar {
      display: flex;
      ul {
        display: flex;
        text-align: center;
        color: #666666;
      }
      li {
        list-style: none;
        display: inline-block;
        padding: 0px 10px;
        font-size: 20px;
        button {
          background: none;
          color: #666666;
          border: none;
          padding: 0;
          font-size: 16px;
          line-height: 13px;
          cursor: pointer;
          outline: inherit;
        }
      }
    }
  }
}
.nav-hr {
  margin-top: 45px;
  border: 1px solid #e8e8e8;
}
