* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

input[type=date]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.hide {
  display: none;
}

.title {
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: center;
  background-color: #fff;
  display: flex;
  z-index: 2;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  justify-content: space-between;
}
.title .bg {
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}
.title .bg h3 {
  cursor: pointer;
  font-size: 30px;
  color: #448899;
}
.title .bg .navbar {
  display: flex;
}
.title .bg .navbar ul {
  display: flex;
  text-align: center;
  color: #666666;
}
.title .bg .navbar li {
  list-style: none;
  display: inline-block;
  font-size: 20px;
  margin-right: 3px;
}
.title .bg .navbar li button {
  background: none;
  color: #666666;
  border: none;
  font-size: 16px;
  cursor: pointer;
  outline: inherit;
}
.title .bg .navbar li button .shopcart-img {
  width: 35px;
  vertical-align: middle;
}

.signPlace {
  position: fixed;
  top: 8%;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 3;
  display: none;
}
.signPlace .alertText {
  padding: 10px 0;
  text-align: center;
  color: #666666;
}
.signPlace .greenBar {
  width: 340px;
  height: 10px;
  border-radius: 6px 6px 0px 0px;
  background: linear-gradient(270deg, #337788 0%, #66aabb 100%);
}
.signPlace .dialog {
  width: 340px;
  height: auto;
  padding: 10px;
  background: #ffffff;
  box-shadow: 0px 4px 60px #aaaaaa;
  border-radius: 0px 0px 6px 6px;
}
.signPlace .dialog .btn {
  font-size: 16px;
  color: #fff;
  margin-top: 15px;
  margin-bottom: 5px;
  align-items: center;
  width: 310px;
  height: 47px;
  border-radius: 5px;
  border: 1px solid #cccccc;
  background-color: #448899;
}
.signPlace .dialog .btn:hover {
  border: 2px #448899 solid;
  background-color: #ffffff;
  color: #448899;
}
.signPlace .dialog .btn:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
.signPlace .dialog .updateText {
  text-align: center;
}
.signPlace .dialog .inputArea {
  font-size: 16px;
  padding-left: 15px;
  border: 1px solid #cccccc;
  margin-top: 15px;
  width: 310px;
  height: 40px;
  border-radius: 5px;
}
.signPlace .dialog h3 {
  font-size: 20px;
  color: #666666;
  text-align: center;
}
.signPlace .dialog .msg {
  text-align: center;
  display: none;
  color: rgb(255, 46, 46);
}
.signPlace .dialog .close {
  position: absolute;
  top: 7px;
  right: 7px;
  cursor: pointer;
}
.signPlace .dialog .close img {
  width: 16px;
  height: 16px;
  margin-top: 20px;
}
.signPlace .dialog .sign-page {
  display: flex;
  text-align: center;
}
.signPlace .dialog .sign-page .type-place {
  position: relative;
}
.signPlace .dialog .sign-page #checkEye1 {
  position: absolute;
  right: 4%;
  bottom: 52%;
}
.signPlace .dialog .sign-page #checkEye2 {
  position: absolute;
  right: 4%;
  bottom: 40%;
}
.signPlace .dialog .sign-page .remindMessage {
  color: #666666;
  line-height: 2;
}

.lay {
  z-index: 1;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: #000000;
  opacity: 0.25;
}

main .attraction-space {
  margin: 45px auto;
  width: 1200px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
main .attraction-space .attraction-carousel {
  margin: auto;
  position: relative;
  width: 540px;
  height: 410px;
}
main .attraction-space .attraction-carousel .carousel__track-container {
  border-radius: 5px;
  position: relative;
  height: 100%;
  overflow: hidden;
}
main .attraction-space .attraction-carousel .carousel__track-container .carousel__track {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
  transition: transform 230ms ease-in;
}
main .attraction-space .attraction-carousel .carousel__track-container .carousel__track .carousel__slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
main .attraction-space .attraction-carousel .carousel__track-container .carousel__image {
  width: 100%;
  height: 100%;
}
main .attraction-space .attraction-carousel .carousel__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: 0;
  cursor: pointer;
}
main .attraction-space .attraction-carousel .carousel__button img {
  margin: 0px 10px;
  width: 36px;
  opacity: 0.8;
}
main .attraction-space .attraction-carousel .carousel__button--left {
  z-index: 1;
  left: 0px;
}
main .attraction-space .attraction-carousel .carousel__button--right {
  right: 0px;
}
main .attraction-space .attraction-carousel .carousel__nav {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: 0;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  width: 100%;
}
main .attraction-space .attraction-carousel .carousel__nav .carousel__indicator {
  border: 1.5px rgba(255, 255, 255, 0.98) solid;
  margin: 0 12px;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background: #ffffff;
  cursor: pointer;
  opacity: 0.8;
}
main .attraction-space .attraction-carousel .carousel__nav .current-slide {
  background: rgba(0, 0, 0, 0.75);
}
main .attraction-message {
  color: #666666;
}
main .attraction-message h3 {
  font-weight: 700;
  margin-bottom: 15px;
}
main .attraction-message .attraction-data {
  padding: 20px 0px;
}
main .attraction-message .attraction-detail {
  padding: 15px 20px;
  width: 600px;
  height: 307px;
  background-color: #e8e8e8;
  border-radius: 5px;
}
main .attraction-message .attraction-detail h3 {
  font-weight: 700;
  margin-bottom: 15px;
}
main .attraction-message .attraction-detail p {
  margin-bottom: 15px;
}
main .attraction-message .attraction-detail [type=radio]:checked,
main .attraction-message .attraction-detail [type=radio]:not(:checked) {
  display: none;
}
main .attraction-message .attraction-detail [type=radio]:checked + label,
main .attraction-message .attraction-detail [type=radio]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
}
main .attraction-message .attraction-detail [type=radio]:checked + label:before,
main .attraction-message .attraction-detail [type=radio]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 22px;
  height: 22px;
  border-radius: 100%;
  background: #fff;
}
main .attraction-message .attraction-detail [type=radio]:checked + label:after,
main .attraction-message .attraction-detail [type=radio]:not(:checked) + label:after {
  content: "";
  width: 18px;
  height: 18px;
  background: #448899;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 100%;
  transition: all 0.2s ease;
}
main .attraction-message .attraction-detail [type=radio]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
main .attraction-message .attraction-detail [type=radio]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
main .attraction-message .attraction-detail input[type=date] {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  color: #000;
  margin-bottom: 15px;
  width: 193px;
  height: 35px;
  background: url("/image/icon_calendar.png");
  background-size: 24px;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: 98%;
  border: none;
}
main .attraction-message .attraction-detail .chooseTime {
  margin-bottom: 15px;
}
main .attraction-message .attraction-detail .reservation {
  margin-top: 15px;
  width: 154px;
  height: 36px;
  background: #448899;
  color: #ffffff;
  border-radius: 5px;
  border-style: none;
  font-size: 16px;
  cursor: pointer;
}
main .attraction-message .attraction-detail .reservation:hover {
  border: 2px #448899 solid;
  background-color: #ffffff;
  color: #448899;
}

.middle-hr {
  margin: 45px auto;
  border: 1px solid #e8e8e8;
  width: 1200px;
}

.description {
  width: 1200px;
  color: #666666;
  margin: 45px auto;
}
.description h3 {
  margin-top: 15px;
}
.description p {
  margin-top: 15px;
}

.footer {
  margin-top: 60px;
  background-color: #757575;
  height: 104px;
  display: flex;
  align-items: center;
}
.footer p {
  color: #ffffff;
  margin: auto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 13px;
}

.is-hidden {
  display: none;
}

iframe {
  margin-top: 50px;
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}

@media screen and (max-width: 1200px) {
  main .attraction-space {
    width: auto;
    grid-template-columns: repeat(auto-fit, minmax(65%, auto));
    justify-content: center;
    align-items: center;
  }
  main .attraction-space .attraction-carousel {
    max-width: 90%;
  }
  main .attraction-message {
    margin: auto;
  }
  .middle-hr {
    width: auto;
  }
  .description {
    width: 90%;
  }
  .description p {
    word-break: break-all;
  }
}
@media screen and (max-width: 600px) {
  main .attraction-space .attraction-carousel {
    max-width: 100%;
    margin: auto;
  }
  main .attraction-space .attraction-carousel .carousel__track-container {
    margin: auto;
  }
  main .attraction-space .attraction-message {
    width: 90%;
    margin: auto;
  }
  main .attraction-space .attraction-message .attraction-detail {
    width: auto;
    height: auto;
  }
}/*# sourceMappingURL=attraction.css.map */