* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

.title {
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: center;
  background-color: #fff;
  display: flex;
  z-index: 1;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  justify-content: space-between;
  .bg {
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    h3 {
      cursor: pointer;
      //   font-weight: 700;
      font-size: 30px;
      color: #448899;
    }
    .navbar {
      display: flex;
      //   padding-left: 20px;
      ul {
        display: flex;
        text-align: center;
        color: #666666;
      }
      li {
        list-style: none;
        display: inline-block;
        font-size: 20px;
        margin-right: 5px;

        button {
          background: none;
          color: #666666;
          border: none;
          font-size: 16px;
          cursor: pointer;
          outline: inherit;
          .shopcart-img {
            width: 35px;
            vertical-align: bottom;
          }
          .user-img {
            width: 35px;
            vertical-align: bottom;
          }
        }
      }
    }
  }
}

.signPlace {
  position: fixed;
  top: 8%;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 3;
  display: none;
  .alertText {
    padding: 10px 0;
    text-align: center;
    color: #666666;
  }
  .greenBar {
    width: 340px;
    height: 10px;
    border-radius: 6px 6px 0px 0px;
    background: linear-gradient(270deg, #337788 0%, #66aabb 100%);
  }
  .dialog {
    width: 340px;
    height: auto;
    padding: 10px;
    background: #ffffff;
    box-shadow: 0px 4px 60px #aaaaaa;
    border-radius: 0px 0px 6px 6px;
    .btn {
      font-size: 16px;
      color: #fff;
      margin-top: 15px;
      margin-bottom: 5px;
      align-items: center;
      width: 310px;
      height: 47px;
      border-radius: 5px;
      border: 1px solid #cccccc;
      background-color: #448899;
      &:hover {
        border: 2px #448899 solid;
        background-color: #ffffff;
        color: #448899;
      }
    }
    .updateText {
      text-align: center;
    }
    h3 {
      font-size: 20px;
      color: #666666;
      text-align: center;
    }
    .inputArea {
      font-size: 16px;
      padding-left: 15px;
      border: 1px solid #cccccc;
      margin-top: 15px;
      width: 310px;
      height: 40px;
      border-radius: 5px;
    }
    .msg {
      text-align: center;
      display: none;
      color: rgb(255, 46, 46);
    }

    .close {
      position: absolute;
      top: 7px;
      right: 7px;
      cursor: pointer;
      img {
        width: 16px;
        height: 16px;
        margin-top: 20px;
      }
    }

    .sign-page {
      display: flex;
      text-align: center;
      .type-place {
        position: relative;
      }
      #checkEye1 {
        position: absolute;
        right: 4%;
        bottom: 52%;
      }
      #checkEye2 {
        position: absolute;
        right: 4%;
        bottom: 41%;
      }
      .remindMessage {
        color: #666666;
        line-height: 2;
      }
    }
  }
}

.lay {
  z-index: 1;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: #000000;
  opacity: 0.25;
}

header {
  margin-top: 45px;
  display: flex;
  height: 300px;
  background-image: url("/image/welcome.png");
  background-size: cover;
  align-items: center;
  .text_center {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    .descript-left {
      line-height: 45px;
      h2 {
        font-size: 28px;
        color: #f8f8f8;
        font-weight: 700;
      }
      p {
        color: #f8f8f8;
      }
      .searchBtn {
        position: relative;
        input {
          padding: 15px;
          width: 400px;
          height: 46px;
          border-radius: 5px 0 0 5px;
          border-style: none;
          vertical-align: middle;
          box-shadow: 0px 0px 20px #aabbcc;
          outline: none;
        }
        button {
          width: 60px;
          border-style: none;
          height: 46px;
          vertical-align: middle;
          background-color: #448899;
          border-radius: 0 5px 5px 0;
          box-shadow: 0px 0px 20px #aabbcc;
          img {
            width: 30px;
            height: 30px;
            vertical-align: middle;
          }
          &:hover {
            background-color: #5dabbf;
            cursor: pointer;
          }
        }
        .catPlace {
          display: none;
          z-index: 1;
          position: absolute;
          background-color: #000000;
          width: 400px;
          height: 162px;
          left: 0px;
          top: 53px;
          background: #ffffff;
          box-shadow: 0px 0px 20px #aabbcc;
          border-radius: 5px;
          //   display: flex;
          flex-wrap: wrap;
          align-items: center;
          .catItem {
            text-align: center;
            width: 90px;
            margin: 2px 11px;
            font-size: 14px;
            z-index: 1;
            list-style: none;
            &:hover {
              background: #e8e8e8;
              border-radius: 5px;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

.noItem {
  margin-bottom: 45px;
  text-align: center;
  height: 100vh;
}

.list {
  z-index: 0;
  width: 1200px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 45px auto;

  .spot {
    margin: 10px;
    list-style: none;
    font-size: 20px;
    text-align: center;

    .box {
      position: relative;
      width: 270px;
      margin: auto;
      overflow: hidden;
      &:hover {
        opacity: 0.8;
      }
      img {
        border-radius: 5px 5px 0px 0px;
        width: 100%;
        aspect-ratio: 16 /12;
        vertical-align: top;
      }
      .nameItem {
        text-decoration: none;
        padding: 0px 10px;
        font-size: 16px;
        text-align: left;
        line-height: 40px;
        position: absolute;
        left: 0;
        bottom: 45px;
        height: 40px;
        width: 270px;
        background: rgba(0, 0, 0, 0.6);
        color: #fff;
        margin: 0;
      }
      .mrtItem {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 0px 0px 5px 5px;
        padding: 10px 10px 10px 10px;
        height: 45px;
        width: 270px;
        background: #fff;
        margin: auto;
        border: 1px solid #cccccc;
        span {
          color: #757575;
          font-size: 16px;
          line-height: 13px;
        }
      }
    }
  }
}
.hide {
  display: none;
}
#loadMore {
  width: 200px;
  color: #fff;
  display: block;
  text-align: center;
  margin: 20px auto;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid transparent;
  background-color: rgba(104, 143, 178, 0.486);
  transition: 0.3s;
  &:hover {
    color: rgb(15, 39, 63);
    background-color: #fff;
    border: 1px solid rgb(15, 39, 63);
    text-decoration: none;
  }
}

.footer {
  background-color: #757575;
  //   width: 1920px;
  height: 104px;
  display: flex;
  align-items: center;
  p {
    color: #ffffff;
    margin: auto;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 13px;
  }
}
/*當螢幕寬度小於1200px時，套用此設定*/
@media screen and (max-width: 1200px) {
  header {
    max-width: 100%;
    .text_center {
      justify-content: center;
    }
  }
  .title {
    justify-content: space-between;
    width: 100%;
    padding: 0;
    .navbar {
      right: 0;
    }
  }
  .list {
    height: auto;
    width: 90%;
    grid-template-columns: repeat(auto-fit, minmax(33%, 50%));
    .spot {
      .box {
        width: auto;
        img {
          width: 100%;
        }
        .nameItem {
          width: 100%;
        }
        .mrtItem {
          width: 100%;
        }
      }
    }
  }

  @media screen and (max-width: 740px) {
    .title {
      width: 100%;
      header {
        .text_center {
          justify-content: center;
          width: 90%;
          .descript-left {
            // margin: auto;
            h2 {
              font-size: 28px;
            }
            p {
              font-size: 16px;
            }
            .searchBtn {
              margin: auto;
              input {
                margin: 0 auto;
                width: 200px;
              }
              .catPlace {
                width: auto;
                height: auto;
              }
            }
          }
        }
      }
    }
    .list {
      grid-template-columns: repeat(auto-fit, minmax(auto, 100%));
      .spot {
        .box {
          .nameItem {
            width: 100%;
          }
          .mrtItem {
            width: 100%;
          }
        }
      }
    }
  }

  /*當螢幕寬度小於370px時，套用此設定*/
  @media screen and (max-width: 400px) {
    .title {
      h3 {
        margin: 5px 0px 5px 10px;
      }
    }
    .navbar {
      ul {
        justify-content: center;
      }
    }

    header {
      align-items: center;
      .text_center {
        width: 90%;
        .descript-left {
          margin: auto;
          justify-content: center;
          h2 {
            font-size: 28px;
          }
          p {
            font-size: 16px;
          }
          .searchBtn {
            input {
              align-items: center;
              width: 250px;
            }
          }
        }
      }
    }
    .list {
      grid-template-columns: repeat(auto-fit, minmax(90%, auto));
    }
  }
}
