<!DOCTYPE html>
<html lang="en">
  <head>
    {% extends "base.html" %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block css %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='css/booking.css')}}"
    />
    {% endblock %}
    <title>{% block title %} Taipei day trip 台北一日遊 {% endblock %}</title>
  </head>
  <body>
    {% block main %}
    <main class="main">
      <form onsubmit="return false">
        <div class="booking-middle">
          <h3>您的聯絡資訊</h3>
          <span class="user-question">聯絡姓名：</span>
          <input
            id="contact-name"
            class="booking-input"
            type="name"
            name=""
            required
          />
          <br />
          <span class="user-question">連絡信箱：</span>
          <input
            id="contact-mail"
            class="booking-input"
            type="email"
            name=""
            required
          />
          <br />
          <span class="user-question">手機號碼：</span>
          <input
            id="contact-phone"
            class="booking-input"
            type="text"
            name=""
            required
          />
          <h4>
            請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。
          </h4>
        </div>
        <hr class="middle-hr" />
        <div class="booking-middle">
          <!-- <form onsubmit="return false"> -->
          <h3>信用卡付款資訊</h3>
          <div class="cardview-container">
            <span class="pay-question">卡片號碼：</span>
            <div class="tpfield" id="card-number"></div>
            <br />
            <span class="pay-question">過期時間：</span>
            <div class="tpfield" id="card-expiration-date"></div>
            <br />
            <span class="pay-question">驗證密碼：</span>
            <div class="tpfield" id="card-ccv"></div>
          </div>
        </div>
        <hr class="middle-hr" />
        <div class="booking-total">
          <span class="totalPrice"></span>
          <div>
            <button
              class="booking-button"
              onclick="onSubmit(event)"
              disabled="disabled"
            >
              確認訂購並付款
            </button>
          </div>
        </div>
      </form>
    </main>
    {% endblock %}{% block script %}
    <script src="https://js.tappaysdk.com/sdk/tpdirect/v5.14.0"></script>
    <script
      type="text/javascript"
      src="{{url_for('static', filename='js/booking.js')}}"
    ></script>
    {% endblock %}
  </body>
</html>
