<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/css/booking.css')}}"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="title">
      <div class="bg">
        <h3 onclick="backHomePage()">台北一日遊</h3>
        <nav class="navbar">
          <ul>
            <li><button>預定行程</button></li>
            <li><button onclick="showDialog()">登入/註冊</button></li>
          </ul>
        </nav>
      </div>
    </div>
    <hr class="nav-hr" />
  </body>
</html>
